.PlaceHolder {
  width: 35px;
  height: 35px;
  margin: 8px 16px;
}

.StaticPiece {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: inset 2px 1px 9px 1px #000000;
}

.MoveablePiece {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: fixed;
}
