.Grid {
  height: 100%;
  background: lightgray;
  display: grid;
  /* grid-template-columns: 40% 60%; */
  /* grid-template-columns: 4fr 6fr; */
  /* grid-template-columns: 200px 1fr; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  /* grid-auto-rows: minmax(200px, auto); */
  /* justify-items: start; */
  /* align-items: start; */
}

.item {
  background: hsl(0, 50%, 65%);
}

.item:nth-child(odd) {
  background: hsl(0, 50%, 80%);
}

.item:nth-child(1) {
  grid-column: 1/4;
}

/* .item:nth-child(5) {
  justify-self: center;
  align-self: center;
} */

img {
  height: 100px;
  object-fit: cover;
}
