:root {
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(249, 249, 249);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
}

svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

.SidebarLayout {
  height: 100%;
}

/* menu button */
.menu-icon {
  width: 30px;
  height: 30px;
  fill: var(--medium-gray);
}

.menu-icon:hover {
  fill: var(--dark-gray);
  cursor: pointer;
}

.menu-icon-btn {
  display: block;
  background: none;
  border: none;
  padding: 0;
}

/* header */
.header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem 0.75rem;
  z-index: 10;
}

/* content and sidebar */
.container {
  /* display: grid; */
  /* grid-template-columns: min-content 1fr; */
  position: relative;
}

.content {
  margin: auto;
  max-width: 1200px;
  margin: 0 5rem;
  grid-column: 2;
  flex: 1;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

.sidebar {
  background: var(--lightest-gray);
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100%;
  color: var(--accent-color);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* animation-name: slide-out; */
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  padding: 0.5rem 0.75rem;

  overflow-y: scroll;
  /* z-index: 13; */
}

.sidebar .menu-icon {
  align-self: flex-start;
  width: 30px;
  height: 30px;
  fill: var(--medium-gray);
  margin-bottom: 15px;
}

@keyframes slide-in {
  from {
    transform: translate(-100%, 0px);
  }
  to {
    transform: translate(0%, 0px);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0%, 0px);
  }
  to {
    transform: translate(-100%, 0px);
  }
}

.sidebar-item {
  padding: 10px;
  width: 100%;
  text-align: center;
  user-select: none;
}

.sidebar-item:hover {
  cursor: pointer;
  background: hsl(0, 56%, 80%);
}
