:root {
  --board-background-color: hsl(27, 55%, 35%);
  --board-border-color: hsl(28, 86%, 8%);
  --ball-default-border-color: black;
  --ball-border-color: white;
}

.Board {
  height: 100%;
  width: 60%;
  margin: auto;
  border: 1em solid var(--board-border-color);
  background: var(--board-background-color);
  box-shadow: inset 1px 3px 8px 5px rgba(0, 0, 0, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Row {
  display: flex;
  justify-content: center;
}

.BallHole {
  width: 35px;
  height: 35px;
  margin: 8px 16px;
  border-radius: 50%;
  /* box-shadow: inset 0 0 3px 2px var(--board-background-color), */
  border: 3px solid var(--ball-default-border-color);
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
