:root {
  --board-background-color: hsl(27, 55%, 35%);
  --board-border-color: hsl(28, 86%, 8%);
  --ball-default-border-color: black;
  --ball-border-color: white;
}

.Board {
  height: 100%;
  width: 60%;
  margin: auto;
  border: 1em solid var(--board-border-color);
  background: var(--board-background-color);
  box-shadow: inset 1px 3px 8px 5px rgba(0, 0, 0, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Row {
  display: flex;
  justify-content: center;
}

.TurnIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  color: rgb(30, 30, 34);
  border: 3px solid rgb(29, 16, 3);
  border-radius: 20px;
  position: absolute;
  top: 4%;
  right: 22%;
  height: 100px;
  padding: 20px;
}
