.Flex {
  height: 100%;
  background: lightgray;
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: space-between; */
}

.item {
  flex-basis: 0;
  background: hsl(0, 50%, 65%);
  flex: 1;
}

.item:nth-child(odd) {
  background: hsl(0, 50%, 80%);
  flex: 2;
}

img {
  height: 300px;
  object-fit: cover;
}
