.GameOverIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 300px;
  width: 600px;
  padding: 50px;
  color: rgb(7, 0, 0);
  font-size: xx-large;
  font-weight: bold;
  background-color: rgb(56, 64, 185);
  border: 3px solid rgb(5, 3, 0);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
